# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Development/IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
.coverage
htmlcov/
.pytest_cache/

# Build
web/.next/
web/out/
web/build/
web/dist/
api/dist/
api/build/

# System
.DS_Store
Thumbs.db